<?xml version='1.0'?>

<robot name="chassis_with_mycobot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find mycobot_ros)/urdf/mycobot_urdf.urdf" />
  <xacro:include filename="$(find aibot_description)/urdf/chassis/$(env AIBOT_BASE)/chassis.urdf.xacro" />


  <joint name="arm_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="extend_back_link"/>
    <child link="joint1"/>
  </joint>

</robot>
